@model AdultPrediction
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.esMayorA50)
{
    <h1 class="text-center vcenter">Gana mas de 50,000 Dolares al año</h1>
    <h2 style="margin-left:33%">💰💰💰💰</h2>
}
else
{
    <h1 class="text-center vcenter">No gana mas de 50,000 dolares al año</h1>

}